html {
    overflow: hidden;
    height: 100%;
    display: grid;
}

body {
    height: 100%;
    overflow: hidden;
    background-size: 100% 1080px;
    font-family: "Georgia";
    white-space: nowrap;
    display: grid;
}

table tr {
    display: table-row;
}

table tr td {
    position: relative;
    /* border: 1px solid black; */
}

.heading {
    font-size: 200%;
    font-weight: bold;
}

.anchor {
    width: 1px;
    height: 1px;
    background-color: red;
    opacity: 0;
    position: absolute;
}

.heading:hover {
    text-decoration: underline;
}

.noHover:hover {
    text-decoration: none;
}
