html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background-repeat:no-repeat;
    background-size: 100% 1080px;
    background-color: #f0e9fb;
}

#bar {
    color: white;
    border: none;
    background-color: #260d49;
    border-radius: 0px;
}

#bar a {
    color: white;
}

.content-panel {
    border-radius: 10px;
    border: 2px solid #260d49;
    padding: 10px;
    padding-top: 0px;
}
