html {
    overflow: hidden;
    height: 100%;
}

body {
    /*background-image: url("../images/90.jpg");*/
    background-color: #004020;
    height: 100%;
    overflow: auto;
    background-size: 100% 1080px;
    font-family: "Trebuchet MS";
}

h1 {
    font-size: 30pt;
}

p {
    font-size: 12pt;
    line-height: 26px;
}
