html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background-repeat:no-repeat;
    background-size: 100% 1080px;
    background-color: #b3ccff;
}

#content {
	width: 90%;
	align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	column-count: 3;
	column-gap: 50px;
}

h1 {
    font-size: 30pt;
    font-variant: small-caps;
}

p {
    font-size: 12pt;
    font-family: "Droid Sans";
    line-height: 26px;
}
