html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background-repeat:no-repeat;
    background-size: 100% 1080px;
    background-color: #f0e9fb;
}

#content {
	width: 50%;
	align: center;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #ffffff;
}

h1 {
    font-size: 30pt;
    font-variant: small-caps;
}

p {
    font-size: 12pt;
    font-family: "Droid Sans";
    line-height: 26px;
}
